src/*.exe
src/billycoin
src/billycoind
src/test_billycoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.billycoin

# Compilation and Qt preprocessor part
*.qm
Makefile
billycoin-qt
Billycoin-Qt.app

# Unit-tests
Makefile.test
billycoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
